<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_manipulator">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur_manipulator urdf file -->
    <xacro:include filename="$(find ur_manipulator_description)/urdf/manipulator.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur_manipulator.ros2_control.xacro" />


    <xacro:ur_manipulator_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
